<div class="row">
  <div class="col-sm-2 col-sm-offset-3">
    <div class="plan_box">
      <h3>Plan Free</h3>
      <p>
        <br>No Charge
        <br>Good for evaluation
      </p>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="plan_box">
      <h3>Plan Good</h3>
      <p>
        <br>Everything in free
        <br>Good for small businesses
      </p>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="plan_box">
      <h3>Plan Awesome</h3>
      <p>
        <br>Everything in Good Plan
        <br>Good for enterprises
      </p>
    </div>
  </div>
</div>
